<div class="container mt-2">
  <div class="row">
    <div class="col">
      <a href="https://github.com/Ninja-Squad/ngx-css-anim/tree/master/projects/demo/src/app"
        >Source code of this demo</a
      >
    </div>
    <div class="col text-right">
      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          class="custom-control-input"
          id="toggle-animations"
          [(ngModel)]="animationsEnabled"
        />
        <label class="custom-control-label" for="toggle-animations">Enable animations</label>
      </div>
    </div>
  </div>

  <div class="d-flex align-items-center flex-column my-2">
    <div class="border rounded mb-2 p-2 bg-light" anImate="slide-in" [animateOnInit]="true">
      I'll slide in when the component is initialized
    </div>
  </div>

  <hr />

  <div class="d-flex align-items-center flex-column my-2">
    <div class="border rounded mb-2 p-2 bg-light" anImate="shake" #toShake="anImate">
      I'll shake when the button is clicked
    </div>
    <div>
      <button type="button" class="btn btn-primary" (click)="toShake.animateNow()">
        Shake it!
      </button>
    </div>
  </div>

  <hr />

  <div class="d-flex align-items-center flex-column my-2">
    <ng-container *ngIf="showBump; else resetBump">
      <div
        class="border rounded mb-2 p-2 bg-light"
        [anImate]="bumpAnimation"
        #toBump="anImate"
        (animationEnd)="showBump = false"
      >
        I'll bump and then disappear
      </div>
      <div>
        <button type="button" class="btn btn-primary" (click)="toBump.animateNow()">
          Bump it!
        </button>
      </div>
    </ng-container>
    <ng-template #resetBump>
      <div>
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="showBump = true"
          anImate="fade-in"
          [animateOnInit]="true"
        >
          Reset
        </button>
      </div>
    </ng-template>
  </div>

  <hr />

  <div class="d-flex align-items-center flex-column my-2">
    <div class="mb-2">
      <div
        *ngFor="let person of persons; trackBy: personName; index as i"
        class="border rounded my-1 d-flex p-2 bg-light"
        anImate="fade-in"
        [animateOnInit]="true"
        #personElement
      >
        <div class="flex-grow-1 mr-5">{{ person.name }}</div>
        <div class="align-self-center">
          <button type="button" class="close" (click)="removePerson(personElement, i)">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Remove</span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <button
        *ngIf="persons.length < 4"
        type="button"
        class="btn btn-outline-primary"
        (click)="resetPersons()"
        anImate="fade-in"
        [animateOnInit]="true"
      >
        Reset
      </button>
    </div>
  </div>

  <hr />

  <div class="d-flex align-items-center flex-column my-2">
    <div class="mb-2">
      <div
        *ngFor="let person of chainedPersons; trackBy: personName"
        class="border rounded my-1 d-flex p-2 bg-light"
        #chainedPersonElement
      >
        {{ person.name }}
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-primary mr-2" (click)="bumpChainedPersons()">
        Bump them one by one!
      </button>
      <button type="button" class="btn btn-primary" (click)="bumpChainedPersonsWithDelay()">
        Bump them all at once with a small delay
      </button>
    </div>
  </div>
</div>
